* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.white {
  width: 100%;
  height: 5vh;
  background-color: white;
  padding-right: 40px;
}
.social_media_icons {
  float: right;
}
.social_media_icons > a {
  margin: 20px;
  color: black;
}

.green {
  width: 100%;
  height: 20vh;
  background-color: greenyellow;
  padding-right: 40px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.logo > img {
  width: 100%;
}

.navigation_links > a {
  text-decoration: none;
  color: black;
  margin-right: 25px;
  font-weight: bold;
}
.first {
  margin-top: 20px;
  padding: auto;
  color: black;
}
.first > h3 {
  text-align: center;
}

.pic > img {
  width: 100%;
  height: 100%;
}

.cont_h2 {
  text-align: center;
  margin-top: 20px;
  color: brown;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.container_1 {
  margin-top: 20px;
  text-align: left;
}
.rouge {
  width: 100%;
  height: 5vh;
  background-color: rgb(218, 35, 35);
  padding-right: 40px;
}
.img:hover {
  background-color: blue;
  cursor: pointer;
}

.container_2 {
  margin-top: 20px;
  text-align: center;
}
.container_3 {
  margin-top: 20px;
  text-align: right;
}

.container-form {
  width: 95%;
  height: 100%;
  background-color: bisque;
  text-align: right;
  margin: 0 auto;
  margin-block: 1rem;
}

.cont-img > img {
  inline-size: 100%;
  object-fit: cover;
  aspect-ratio: 10/5;
  height: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing-1 {
  letter-spacing: 4.7px;
}

#Username {
  transition: 500ms ease-in-out;
}

#Username:hover,
#Username:focus {
  background-color: pink;
}

form {
  margin-inline: 1rem;
  margin-block: 2rem;
}

form > textarea {
  margin-bottom: 10px;
  width: 100%;
  height: 50%;
  padding: 0.5rem 1rem;
  resize: none;
}

.name-email > input {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
}

form > h1 {
  font-size: Clamp(1.5rem, 4vw, 1rem);
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
}

button {
  width: 25%;
  height: 6vh;
  font-weight: bold;
  border: none;
  color: rebeccapurple;
}

@media (min-width: 549px) {
  .name-email {
    display: flex;
    gap: 5px;
  }
}

@media (min-width: 998px) {
  .form {
    display: grid;
    grid-auto-flow: column;
    height: 50%;
  }

  .cont-img > img {
    padding: 1rem;
  }

  form > h1 {
    text-align: right;
  }
}
.body {
  background-color: rgb(31, 238, 24);
}
.titre {
  text-align: center;
  background-color: rgb(74, 168, 20);
  width: 100%;
  height: 10vh;
}

.image {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 5px;
}

.image > img {
  width: 100%;
  height: 100%;
}
.image > img:hover,
img::after {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 255, 255, 0.212);
  opacity: 0.1;
  cursor: pointer;
}
.bg-white {
  width: 100%;
  height: 5vh;
  background-color: red;
  text-align: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 30px;
}

.bg-red {
  width: 100%;
  height: 5vh;
  background-color: red;
  padding-right: 40px;
  text-align: center;
}
.photo {
  width: 100%;
  height: 100%;
}
.uppercase-letter-spacing-1 {
  text-align: center;
}
.phot_1 {
  width: 100%;
  height: 100%;
}
.final > h2 {
  text-align: center;
}
.bg-black {
  /* width: 100%;
	height: 5vh;
	/* background-color: red; */
  text-align: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 30px;
}
.navigation_links_1 > a {
  text-decoration: none;
  margin-right: 25px;
  font-weight: bold;
  color: darkgrey;
}
.contenu {
  align-items: center;
}
.center {
  text-align: center;
}
